{
	"username":"taylorswift",
	"nickname":"taylorswift",
	"realname":"taylorswift",
	"identification":"PRIVMSG Nickserv :IDENTIFY <nickserv password>",
	"rooms":["#taylorswift"],
	"server":"irc.rizon.net",
	"port":6667,
	"commandchar":".",
	"admins":["your nickname"],
	"ignores":["that guy that harasses you"],
	"googleapikey":"yourkey",
	"steamapikey":"yourkey",
	"weatherapikey":"yourkey",
	"wolframapikey":"yourkey",
	"cowsay":"on",
	"usessl":true,
	"keystorepath":"/usr/java/jdk1.8.0_45/jre/lib/security/cacerts"
	
}